html,
body {
  height: 100%;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: "Courier New", "monospace";
  padding-left: 40px;
  padding-top: 20px;
}

h2 {
  font-size: 25px;
  color: white;
  font-family: "Courier New", "monospace";
  padding-left: 80px;
  margin-top: -8px;
}

h3 {
  font-size: 21px;
  color: rgb(233, 227, 227);
  font-family: "Courier New", "monospace";
  padding-left: 130px;
  margin-top: -8px;
}
.subKeyword {
  color: #66d9ef;
}
.date {
  color: #e6db74;
}

.keyword {
  color: #ae81ff;
  font-size: 22px;
  font-weight: 600;
  margin-top: -8px;
  font-family: "Courier New", "monospace";
  letter-spacing: -1px;
}

.keyword_h2 {
  color: #a6e22e;
  font-size: 25px;
  font-weight: 600;
  margin-top: -8px;
  font-family: "Courier New", "monospace";
  letter-spacing: 0px;
}
.values {
  color: #e6db74;
  font-size: 22px;
  font-weight: 600;
  margin-top: -8px;
  font-family: "Courier New", "monospace";
  letter-spacing: -1px;
}

.container {
  width: 80%;
  background-color: #393939;
  /* height: 200%; */
  margin-right: auto;
  margin-left: auto;
}

#title {
  margin-top: -8px;
  color: rgb(28, 199, 28);
  padding-left: 80px;
  font-size: 22px;
  font-weight: 500;
}

.spacebox {
  height: 2px;
}

#icerik {
  color: white;
  padding-left: 100px;
  padding-right: 50px;
  font-size: 22px;
  font-weight: 500;
  margin-top: -8px;
  font-family: "Courier New", "monospace";
  letter-spacing: 0px;
}

#alt_icerik {
  color: white;
  padding-left: 160px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-top: -8px;
  font-family: "Courier New", "monospace";
  letter-spacing: 0px;
}

.padding_alt_icerik {
  padding-left: 60px;
}

a {
  color: #e6db74;
  text-decoration: #fd971f;
}

.lastCurly {
  text-align: right;
}

.import {
  padding-left: 10px;
  padding-top: 10px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 15%;
}
